body {
    background-color: rgb(112, 116, 122);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

section {
    background-color: rgba(255, 255, 255, 0.488);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
}

section div {
    text-align: center;
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#foto {
    padding: 20px;
}